@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    body {
        @apply font-body;
    }
}


@layer components {
    .navLink {
        @apply text-[#2E333B] text-[13px] font-bold uppercase tracking-wide hover:text-black hover:underline px-3 py-2 rounded-md text-sm;
    }

    .headerImg{
        background-image: url("../public/images/header-home.gif");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 95vh;
        width: 95vw;
        }

    .approachImg{
        background-image: url("../public/images/approach.gif");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 95vh;
        width: 95vw;
    }

    .missionImg{
        background-image: url("../public/images/mission.gif");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 95vh;
        width: 95vw;
    }

    .ctaImg{
        background-image: url("../public/images/cta.webp");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 95vh;
        width: 95vw;
    }

    .aboutImg{
        background-image: url("../public/images/about.gif");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 95vh;
        width: 95vw;
    }
}